@model Kinomania.Models.Film
@{
    ViewData["Title"] = "AddFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>@Model.Name</h3>
    <img src="@Model.PosterPath">

    <p><h4>  Producer:</h4><h5> @Model.Producer</h5></p>

    <p><h4>  Release date:</h4><h5> @Model.ReleaseDate.ToString("yyyy-MM-dd")</h5></p>

    <p><h4>  Budget:</h4><h5> @Model.Budget &#36;</h5></p>

    @*<div>
            Genres: @foreach (Kinomania.Models.Genre genre in Model.Genres)
            {<p>@genre.Name</p>};
        </div>
        <div>
            Actors: @foreach (Kinomania.Models.Actor actor in Model.Actors)
            {<a>@actor.FirstName @actor.LastName</a>};
        </div>*@

</div>